<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for making website for mobile-->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="initial-scale=1.25, user-scalable=no">

  <meta charset="UTF-8">
  <title>Choose Widget</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- STYLE sheet comes after all the libraries are loaded. Document style-->

  <link href="../css/style.css" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!--back sign-->
    <div class="navbar-brand pull-left left-margin-fix">
      <a href="widget-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </div>
    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand ">
        <b>Choose Widget</b>
      </a>
    </p>
  </div>
</nav>


<div class="container-fluid">

  <ul class="list-group">
    <a href="widget-heading.html"
       class="list-group-item">
      Header
    </a>
    <a href="widget-image.html"
       class="list-group-item">
      Image
    </a>
    <a href="widget-youtube.html"
       class="list-group-item">
      Youtube
    </a>
  </ul>
</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <p class="navbar-brand pull-right">
    <a href="../user/profile.html">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
</nav>

</body>
</html>
