<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row container-fluid">
    <div class="col-sm-4 hidden-xs">
      <!--plus sign-->
      <div class="navbar-brand pull-right">
        <a [routerLink]="['/user', userId, 'website', 'new']"
           class="navbar-link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <!--back sign-->
      <div class="navbar-brand pull-left left-margin-fix">
        <a [routerLink]="['/user', userId, 'website']"
           class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <!--heading on the nav bar-->
      <p class="navbar-header pull-left">
        <a class="navbar-brand ">
          <b>Websites</b>
        </a>
      </p>
    </div>
    <div class="col-sm-8 col-xs-12">
      <!--ok sign-->
      <div class="navbar-brand pull-right right-margin-fix">
        <a (click)="updateWebsite()"
           [routerLink]="['/user', userId, 'website']"
           class="navbar-link">
          <span class="glyphicon glyphicon-ok-sign"></span>
        </a>
      </div>
      <!--back-->
      <div class="navbar-brand pull-left visible-xs left-margin-fix">
        <a [routerLink]="['/user', userId, 'website']"
           class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <!--heading on the nav bar-->
      <p class="navbar-header pull-left">
        <a class="navbar-brand ">
          <b>Edit Websites</b>
        </a>
      </p>
    </div>
  </div>
</nav>

<div class="row container-fluid ">
  <div class="col-sm-4 hidden-xs">
    <ul class="list-group">
      <div *ngFor="let website of websites">
        <li class="list-group-item">
          <a [routerLink]="['/user', userId, 'website', website['_id'],'page']">
            {{website['name']}}
          </a>
          <a [routerLink]="['/user', userId, 'website', website['_id']]"
             class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
      </div>
    </ul>
  </div>
  <div class="col-sm-8 col-xs-12">

      <div class="form-group">
        <label for="websiteName">
          Website Name
        </label>
        <input [(ngModel)]="websiteName"
               name="websiteName"
               required
               type="text"
               class="form-control mr-5"
               id="websiteName"
               placeholder="Name"/>
      </div>
      <div class="form-group">
        <label for="websiteDesc">
          Website Description
        </label>
        <textarea [(ngModel)]="websiteDesc"
                  name="websiteDesc"
                  required
                  rows="5"
                  class="form-control mr-5"
                  id="websiteDesc"
                  placeholder="Description"></textarea>
      </div>
      <div class="form-group">
        <a class="btn btn-danger btn-block "
           (click)="deleteWebsite()"
           [routerLink]="['/user', userId, 'website']">
          Delete
        </a>
      </div>

  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <p class="navbar-brand pull-right">
    <a [routerLink]="['/user', userId]">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
</nav>
