<div *ngIf="widgetEdit;then edit else new"></div>
<ng-template #edit>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!--tick mark-->
      <div class="navbar-brand pull-right right-margin-fix">
        <a (click)="updateWidget()"
           [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']"
           class="navbar-link">
          <span class="glyphicon glyphicon-ok-sign"></span>
        </a>
      </div>
      <!--tick mark-->
      <div class="navbar-brand pull-left left-margin-fix">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']"
           class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <!--heading on the nav bar-->
      <p class="navbar-header pull-left">
        <a class="navbar-brand ">
          <b>Widget Edit</b>
        </a>
      </p>
    </div>
  </nav>
</ng-template>
<ng-template #new>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!--tick mark-->
      <div class="navbar-brand pull-right right-margin-fix">
        <a (click)="createWidget()"
           [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new']"
           class="navbar-link">
          <span class="glyphicon glyphicon-ok-sign"></span>
        </a>
      </div>
      <!--tick mark-->
      <div class="navbar-brand pull-left left-margin-fix">
        <a [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget', 'new']"
           class="navbar-link">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
      </div>
      <!--heading on the nav bar-->
      <p class="navbar-header pull-left">
        <a class="navbar-brand ">
          <b>New Widget</b>
        </a>
      </p>
    </div>
  </nav>
</ng-template>


<div class="container-fluid">
  <form action="profile.html" method="post">
    <div class="form-group">
      <label for="nameYoutube">
        Name
      </label>
      <input [(ngModel)]="nameYoutube"
             name="nameYoutube"
             required
             type="text"
             class="form-control"
             id="nameYoutube"
             placeholder="">
    </div>

    <div class="form-group">
      <label for="textYoutube">
        Text
      </label>
      <input [(ngModel)]="textYoutube"
             name="textYoutube"
             required
             type="text"
             class="form-control"
             id="textYoutube"
             placeholder="">
    </div>

    <div class="form-group">
      <label for="urlYoutube">
        URL
      </label>
      <input [(ngModel)]="urlYoutube"
             name="urlYoutube"
             required
             type="text"
             class="form-control"
             id="urlYoutube"
             placeholder="https://www.youtube.com/watch?v=ue80QwXMRHg">
    </div>

    <div class="form-group">
      <label for="widthYoutube">
        Width
      </label>
      <input [(ngModel)]="widthYoutube"
             name="widthYoutube"
             required
             type="text"
             class="form-control"
             id="widthYoutube"
             placeholder="">
    </div>

    <div class="form-group">
      <a (click)="deleteWidget()"
         class="btn btn-danger btn-block "
         [routerLink]="['/user', userId, 'website', websiteId, 'page', pageId, 'widget']">
        Delete
      </a>
    </div>
  </form>
</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <p class="navbar-brand pull-right">
    <a [routerLink]="['/user', userId]">
      <span class="glyphicon glyphicon-user"></span>
    </a>
  </p>
</nav>
